<h1>Editing Nagayoshi Bookmark Log</h1>

<%= render 'form', nagayoshi_bookmark_log: @nagayoshi_bookmark_log %>

<%= link_to 'Show', @nagayoshi_bookmark_log %> |
<%= link_to 'Back', nagayoshi_bookmark_logs_path %>
