<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @nagayoshi_bookmark_log.name %>
</p>

<%= link_to 'Edit', edit_nagayoshi_bookmark_log_path(@nagayoshi_bookmark_log) %> |
<%= link_to 'Back', nagayoshi_bookmark_logs_path %>
