<h1>Editing Live Livers Management</h1>

<%= render 'form', live_livers_management: @live_livers_management %>

<%= link_to 'Show', @live_livers_management %> |
<%= link_to 'Back', live_livers_managements_path %>
